#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white; 
}

header{
  display: flex;
  justify-content: center;
  height: 55px;
  background-color: #F55A5A;
  align-items: center;
  border-radius: 10px 10px 0 0;

}

header > img{
  height: 24px;
  margin-right:  7px;
}

header > h1 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14.46px;
  line-height: 100%;
  letter-spacing: -7.5%;

}

