html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background-color: white;
  
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  background-color: white; 
  height: 100%;
}

.container {
    margin: 45px 40px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #F55A5A;
  color: white;
}

header > img {
  height: 24px;
  margin-right: 7px;
}

header > h1 {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: -7.5%;
  margin: 0;
}

article.journal-entry {
  width: 80%;
    margin-left: auto;   /* Automatically sets left margin */
    margin-right: auto;  /* Automatically sets right margin */
    /* Shorthand: margin: 0 auto; (0 for top/bottom, auto for left/right) */
    
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    color: black;
    max-width: 400px;

}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container {
    text-align: left;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
    text-decoration: none;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin: 7px 0 17px 0;
    font-size: 1.25rem;
}

.info-container p.trip-dates {
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 0.8rem;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 0;
}